.wp-block-klarity-klarity-action-list-block {
  margin-top: 20px;
  p {
    margin: 0px 10.5px 4px 10.5px;
  }
}

.wp-block-klarity-klarity-action-block {
  margin-bottom: 24px;
  text-decoration: none !important;

  @media only screen and (max-width : 960px) {
    margin-bottom: 12px;
  }

  .content {
    display: flex;
    background: white;
    align-items: center;
    color: black;
    cursor: pointer;
    height: 190px;
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.15);

    @media only screen and (max-width : 960px) {
      height: 150px;
    }

    .thumbnail, .text {
      padding: 12px;
      height: 100%;
    }

    .thumbnail {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 70px;
      width: 40%;

      @media only screen and (max-width : 960px) {
        background-size: 60px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;

      h2, .h2,
      p, .p {
        margin: 0;
        text-align: left;
      }

      h2, .h2 {
        &:before {
          content: none;
        }

        font-family: Unna, sans-serif;
        font-weight: bold;
        line-height: 39px;
        font-size: 24px;
        color: black;
      }

      p, .p {
        font-family: Lato, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0F0F0F;

        @media only screen and (max-width : 960px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  &.completed {
    &, a {
      cursor: default;
    }

    .content {
      background: $background-completed;

      .thumbnail {
        display: none;
      }
      .text {
        width: 100%;

        * {
          background: transparent;
          text-align: center;
        }
      }
    }
  }
}
.wp-block-klarity-klarity-social-action-block {
  a:last-child{
    margin-bottom: 12px;
  }
  a {
    text-decoration: none !important;

    .facebook {
      background-color:#3A559F;
    }
    .twitter {
      background-color:#38A1F3;
    }
    .whatsapp {
      background-color:#1BD741;
    }
    div {
      display: flex;
      flex-direction:row;
      height:39px;
      margin-bottom: 12px;

      box-shadow: 0 11px 20px rgba(0, 0, 0, 0.15);
      img {
         width:44px;
         padding:10px;
         background-color: rgba(0, 0, 0, 0.2);
      }
      p {
        width:100%;
        color:white;
        text-decoration:none !important;
        text-align: center;
        margin:auto;
        font-size:10px;
        letter-spacing:0.2em;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}
